bbprd = (DESCRIPTION=
  (ADDRESS_LIST=
    (ADDRESS=
      (PROTOCOL=TCP)
        (HOST=)
          (PORT=1521)))
    (CONNECT_DATA=(SERVICE_NAME=)))

sisprd = (DESCRIPTION=
  (ADRESS_LIST=
    (ADDRESS=
      (PROTOCOL=TCP)
        (HOST)=)
          (PORT=1521)))
      (CONNECT_DATA=(SERVICE_NAME=))
